@use 'styles/__' as *;

._ {
	position: sticky;
	top: 0;
	flex-shrink: 0;
	background: $c-bg-secondary;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin: 20px 0 0;
	padding: 0 10px;
	box-shadow: 0 0 3px $c-b-main;
	transition: 0.1s margin;

	@include m-l {
		margin: 0;
	}
}

.searchbar {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	font-weight: bold;
	font-size: 1.4em;
}

.searchbar-input {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	font-weight: bold;
	font-size: 1em;
}

.icons {
	display: flex;
	flex-shrink: 0;
	gap: 2px;
}
