@use 'styles/__' as *;

._ {
	background: $c-bg-secondary;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: 1px 1px 3px $c-b-main;
}

.message {
	padding: 5px;
	white-space: pre-wrap;
	cursor: text;

	&-field {
		border: 0;
		padding: 5px;
		outline: none;
		color: inherit;
		background: transparent;
		font: inherit;
		font-size: inherit;
		resize: none;

		&:focus {
			box-shadow: 0 0 2px 1px $c-b-secondary inset;
		}
	}
}

.actions {
	display: flex;
	gap: 5px;
	align-items: flex-end;
	justify-content: space-between;
}

.remove {
	background: linear-gradient(-45deg, #ccc 50%, #ed7 50%);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	padding: 5px;
}

.tag {
	background: yellow;
	color: black;
	cursor: pointer;
	text-decoration: none;
	padding: 0 4.734px;
	border-radius: 1em;
	line-height: 1.3125em;

	&_container {
		display: flex;
		gap: 5px;
		padding: 0 4.734px 0 0;
		font-weight: bold;
	}

	&_contrast {
		background: blue;
		color: white;
	}

	&-link {
		color: inherit;
		text-decoration: none;
	}

	&-add {
		font-weight: bold;
		min-width: 1.3125em;
	}

	&-delete::before {
		display: inline-block;
		content: '–';
		color: white;
		background: red;
		border-radius: 1em;
		width: 1.3125em;
		text-align: center;
	}
}
